.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #303339;
}

.logo {
    height: 90%;
    width: auto;
} 

